.MyFooter{
    background-color: rgba(41, 63, 124, 0.9);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.FooterContainer{
    margin-top: 10px;
    margin-bottom: 10px;
}

.FooterContainer a, .FooterContainer a:hover {
    color: white;
}