html {
  font-size: 13px;
  }
body {
  background-image: url("/dataCatBot/trainBack.jpg");
  width: 100%;
  height: 100vh;
}
.App {
  text-align: center;
}
.Impressum {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 60px;
  padding: 20px;
  border-radius: 6px;
}
.Impressum p {
  white-space: pre-line;
}
.textHeader {
  font-size: large;
}

